* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }
  header {
    width: 100%;
    height: 90px;
    margin: 0 auto;
    position: relative;
    z-index: 999;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  }
  
header h1 {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 20px;
  }
header h1 img {
    padding-top: 10px;
    width: 200px ;
}

  
  header nav {
    position: absolute;
    right: 20px;
    top: 35px;
  }
  
  /* 1단계 메뉴 */
  header nav > ul > li {
    float: left;
    /* outline: 1px solid red; */
    width: 8em;
    text-align: center;
    background: #fff;
  
  }
  
  header nav > ul > li > a {
    color: #444;
  
  padding-bottom: 10px;
  }
  
  
/* 2단계 메뉴 */
header nav .depth2 {
    /* outline: 1px solid green; */
    margin-top: 34px;
    display: none;
    color: #444;
  }
  
  header nav .depth2 > li > a {
    display: block;
    padding: 10px;
    color: #444
    border-bottom: solid #ccc 1px;
    border-top: solid #ccc 1px;
  }
  header nav .depth2 > li > a:hover {
    background: #ccc;
    color: #333333;
  
  }

    
.gallery{
    width: 1920px;
    position: relative;
  }
  .gallery > img {
    position: absolute;
    width: 1920px;
  }
  
  #mainvisual .container {
    position: relative;
  
  }
  
#main{
    padding-top: 600px;
    padding-bottom: 60px;
    margin-left: 320px;
    margin-top: 30px;
  }
  #main .container{
    display: flex;
  }
  #main .col {
    width: 400px;
    margin-right: 30px;
    background: #ededed;
  }
  #main col:last-child{
    margin: 0;
  }
  #main .col .text {
    padding: 1em;
    
  }
  #main .col .text h4 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  main .col .text p{
    margin-bottom: 1em;
    letter-spacing: -0.3px;
  }
  footer{
    padding-left: 300px;
    padding-top: 25px;
    padding-bottom: 60px;
    font-size: 14px;
    font-size: 0.87em;
    text-align: left;
    background: #444;
    color: #ccc;
  }
  .footerMenu > h3{
      width: 
  }

  .footerMenu > li{
    display: inline-block;
    margin-bottom: 10px;
    padding-bottom: 5px;
  
  }
  .footerMenu > li > a {
    color: #ccc;
  }
  .footerMenu span, .addres span {
    margin-left: 5px;
    font-size: 10px;
    display: inline-block;
    transform: translateY(-2px);
  }
